<html>

<head>
    <title>
        수학 개시판
    </title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link href="stylesheets/StyleSheetFirstPage.css" ,type="text/css" , rel="stylesheet">
    <script>
        function signUp() {
            alert("회원 가입");
        }
    </script>
</head>

<body>
    <p id="heading">게시판</p>
    <header>
        <span onclick="signUp()">
            <a href="#">
            <i class="far fa-user-circle"></i>

            회원가입
            </a>
        </span>
    </header>
    <section>
        <nav>
            <ul>
                <li><a href="#">게시판 이동</a></li>
                <li><a href="#">나의 기록</a></li>

            </ul>
        </nav>
    </section>

    <footer>
        <p>Footer</p>
    </footer>
</body>

</html>